<h1><%=@post.title%></h1>
<%=@post.content%><br><br>
<p>Categories:
<% @post.categories.each do |category|%>
    <%=category.name%>, 
<%end%>
</p>
<p>Comments:
<% @post.comments.each do |comment|%>
    <p><%= comment.user.username %> says: <%= comment.content%></p>
<%end%>
</p>
<% @post.users.detect do |user| %>
    <p><%=link_to user.username, user_path(user)%> says: <%=user.comments%></p>
<%end%>

<%= render partial: 'comments/form', locals: {comment: @post.comments.build} %>
